extends layout

include mixins/_form

block header
    
block content
  .inner
    h4 Get Offer API With Adobe Campaign Classic
    p step 1 sign up 
    p step 2 send confirmation email thanks for signing up with survey
    p step 3 land on page to take quick survey 
    p step 4 redirect page with loaded offers 
    +form()