mixin form()
  form(action='/getofferrequest' method="POST" class="card")
    label(for='email') Email Address
    input(type='email' placeholder='name@example.com')
    input(type="submit" value="Get Offers" class="button")
